* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* NAV */

.navContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navLogo {
    width: 150px;
}

.navItensContainerDesktop {
    display: flex;
    align-items: center;
}

.navDropdown {
    float: left;
    overflow: hidden;
}

.navItem, .navDropBtn, .hideOnMobile {
    font-size: 15px;
    padding: 13px 14px;
    text-decoration: none;
    font-weight: 500;
    margin: 0 5px;
    color: #052c52;
    transition: 0.5s ease-out;
}

#navContactButton {
    border: solid 2px #efb225;
    border-radius: 5px;
}

.hideOnMobile, .navDropBtn {
    border: none;
    background: none;
}

.navItem:hover, .hideOnMobile:hover, .socialMidiaIcon:hover, .navDropBtn:hover {
    color: #efb225;
    background-color: #052c52;
    border-radius: 5px;
    border: none;
}

.navDropBtnContent {
    display: none;
    min-width: 170px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navDropBtnItem {
    float: none;
    color: #6f7274;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    text-align: left;
}

.navDropBtnItem:hover {
    color: #052c52;
    background-color: #f1f1f1;
}

.navDropdown:hover .navDropBtnContent, .hideDivOnMobile:hover .navDropBtnContent {
    display: block;
    cursor: pointer;
}

.socialMidiaIcon {
    padding: 11px;
    color: #efb225;
}

.callNavContainer {
    padding: 1% 25px;
    background: #052c52;
    margin: 0 0 0 25px;
}

.callNavNumbers, .callNavText {
    font-size: 11px;
    color: #efb225;
    display: block;
    margin: 10px 0;
}

.callNavText {
    font-size: 13px;
}

.callNavText i {
    margin: 0 5px 0 0;
}

/* NAV MOBILE */

nav ul {
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
}

.navItensContainerMobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
}

.navItensContainerMobile li {
    width: 100%;
}

.navItensContainerMobile a {
    width: 100%;
}

.menuCloseButtonMobile {
    display: none;
}

/* BANNER */

.homeImageContainer {
    width: 100%;
    background-color: #000;
    background-image: url('../Assets/Banners/BannerImageHome.jpg');
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: nowrap;
    padding: 0 50px;
}

.homeImageText, .homeImageForms {
    width: 50%;
    padding: 50px 0;
}

.homeImageText h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}

.homeImageText p {
    color: #ffffff;
    margin: 25px 0;
    line-height: 1.7;
    font-size: 17px;
}

.homeImageText a {
    background-color: #052c52;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
}

.homeImageTextLinks {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.homeImageTextLinks i {
    font-size: 10px;
    margin-left: 10px;
}

#homeImageTextButtonResource {
    background-color: #efb225;
}

.homeImageText a:hover {
    background-color: #efb225;
    color: #ffffff;
}

#homeImageTextButtonResource:hover {
    color: #efb225;
    background-color: #052c52;
}

/* FORM */

.formHomeImage {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 5px;
}

.formHomeImage h2 {
    text-align: center;
    margin: 0px 0 35px 0;
    color: #052c52;
    font-weight: 500;
}

.homeImageForms {
    display: flex;
    justify-content: center;
}

.formInputs input {
    width: 100%;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
    border: solid 1px #ccc;
}

.homeImageFormsSubmit {
    cursor: pointer;
    background-color: #052c52;
    border: none;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.homeImageFormsSubmit:hover {
    background-color: #efb225;
}

/* TABS */

.aboutUs {
    padding: 60px;
}

.aboutUsTitle {
    text-align: center;
    margin: 50px;
}

.aboutUsTitle span {
    display: block;
    margin: 10px 0;
    color: #0e151b;
    text-transform: uppercase;
}

.aboutUsTitle h2 {
    color: #052c52;
    font-size: 28px;
    font-weight: 500;
}

.aboutUsContainer {
    display: flex;
    width: 100%;
    padding: 0 40px;
    gap: 40px;
}

.aboutUsOptions {
    width: 100%;
    height: 350px;
}

.aboutUsOptions li {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.aboutUsOptions li:hover {
    color: #efb225;
}

.aboutUsOptions li.active {
    background-color: #052c52;
    color: #efb225;
}

.aboutUsTabs {
    float: left;
    padding: 0px 12px;
}

.optionsTabContent p {
    margin-bottom: 10px;
}

.optionsTabContent p>span {
    font-weight: 500;
}

.aboutUsButtons {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.aboutUsButtons a {
    background-color: #052c52;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
}

.aboutUsButtons i {
    font-size: 10px;
    margin-left: 10px;
}

.aboutUsButtons a:hover {
    background-color: #efb225;
    color: #ffffff;
}

#aboutUsButtonQuestions {
    background: none;
    color: #052c52;
    text-decoration: underline;
    font-size: 15px;
    text-underline-offset: 8px;
    margin: 0;
}

/* SECTION GRID RECURSOS */

#gridRecursosContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.gridRecursosItem {
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    margin: 50px auto;
}

.gridRecursosItem a {
    text-decoration: none;
}

.gridRecursosTitle {
    border-bottom: solid 1px #efb225;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
}

.gridRecursosTitle span {
    background: #efb255;
    color: #ffffff;
    padding: 5px;
    border-radius: 50px;
}

.gridRecursosTitle h3 {
    color: #052c52;
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
}

.gridRecursosSubTitle {
    text-transform: uppercase;
    font-size: 15px;
    color: #052c52;
}

.gridRecursosContentText {
    width: 100%;
    margin: 10px 0;
    line-height: 25px;
    color: #6f7274;
    font-size: 15px;
}

.gridRecursosItem:hover {
    background: #052c52;
    padding: 15px;
    border-radius: 5px;
}


.gridRecursosItem:hover h3 {
    color: #ffffff;
}

.gridRecursosItem:hover p {
    color: #ffffff;
}

.gridRecursosItem:hover .gridRecursosSubTitle {
    color: #efb225;
}


@media (max-width: 1050px) {

    /* NAV */

    .navContainer {
        justify-content: space-between;
    }

    #navContactButton {
        margin-left: 5px;
    }

    .hideOnMobile, .callNavContainer {
        display: none;
    }

    .menuCloseButtonMobile {
        margin-left: 20px;
    }

    .menuCloseButtonMobile {
        display: block;
    }

    /* FORM BANNER */

    .homeImageContainer {
        flex-direction: column;
    }

    .homeImageText, .homeImageForms {
        width: 100%;
        padding: 50px 0;
    }

    /* TABS */

    .aboutUs {
        padding: 60px 0;
    }

    .aboutUsContainer {
        display: block;
    }

    .aboutUsTabs {
        margin: 70px 0 0 0;
        padding: 20px;
    }

    .aboutUsOptions {
        height: 280px;
    }

    .aboutUsButtons {
        padding: 20px 50px;
    }

    .optionsNavItem {
        padding: 0;
    }

    /* gridRecursos */

    .gridRecursosItem {
        width: 40%;
    }
}

@media (max-width: 750px) {
    /* gridRecursos */

    .gridRecursosItem {
        width: 80%;
    }
}

@media (max-width: 600px) {

    .homeImageContainer {
        padding: 0 10px;
    }

    /* TABS */

    .aboutUsContainer {
        padding: 0 10px;
    }

    .aboutUsTabs {
        padding: 0;
    }

    .aboutUsButtons {
        padding: 20px 10px;
    }

}